---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$link-color: #0041C2;
a {text-decoration: none; }
li { padding: 0px 0px 0px; }
li:first-child { margin-bottom: 0px; }
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
