---
layout: single
---

{{ content }}

<p>I am a PhD student in <a href="http://www.bios.unc.edu/">Biostatistics</a> at the <a href="http://www.unc.edu/">University of North Carolina at Chapel Hill</a>.  
With my advisor <a href="https://sph.unc.edu/adv_profile/kinh-truong-phd/">Dr. Kinh Truong</a>, I work on developing methods extending independent component analysis 
  to analyze functional connectivity and point process data.</p>
<p>Through my work at the <a href="http://www.cidd.unc.edu/">Carolina Institute of Developmental Disabilities</a>, I
  <ul>
    <li>Use machine learning in to predict future autism diagnosis in infants based on behavioral and brain image data</li>
    <li>Conduct inference on associations between autism diagnosis, behavioral outcomes, and brain measures</li>
    <li>Teach statistical concepts and programming with R</li>
    <li>Created a <a href="https://kmdono02.github.io/Data_Analysis_with_R_IBIS/">handbook</a> on statistical concepts and R programming</li>
  </ul> </p>
<p>I previously collaborated on the <a href="https://atnweb.org/atnweb/">Adolescent Medicine Trials Network for HIV/AIDS Interventions (ATN)</a>.  My work focused on
  implementing regression methods with biomarkers subject to limits of detection for 
  <a href="https://journals.lww.com/aidsonline/Abstract/2019/12010/Higher_soluble_CD14_levels_are_associated_with.9.aspx">analysis on HIV-infected youth</a> with a corresponding 
  <a href="https://cran.r-project.org/web/packages/lodr/">R computing package.</a></p>
<p>For more information, please check out my <a href="/software/">developed statistical software</a>, 
<a href="https://bibbase.org/show?bib=https%3A%2F%2Fkmdono02.github.io%2FCV%2FCV.bib">publications</a>, 
  <a href="/CV/CV.pdf">CV</a></a>, and <a href="https://github.com/kmdono02">Github account</a>.</p>
