---
layout: single
---

{{ content }}

<p>I am a PhD student in <a href="http://www.bios.unc.edu/">Biostatistics</a> at the <a href="http://www.unc.edu/">University of North Carolina at Chapel Hill</a>.  
With my advisor <a href="https://sph.unc.edu/adv_profile/kinh-truong-phd/">Dr. Kinh Truong</a>, I work on developing methods extending 
<a href="https://en.wikipedia.org/wiki/Independent_component_analysis">independent component analysis</a> to analyze functional connectivity and point process data.</p>
<p>Through my work at the <a href="http://www.cidd.unc.edu/">Carolina Institute of Developmental Disabilities</a>, I
  <ul>
    <li>Use machine learning to predict future autism diagnosis in infants based on behavioral and brain image data</li>
    <li>Conduct inference on associations between autism diagnosis, behavioral outcomes, and brain measures</li>
    <li>Teach statistical concepts and programming with R</li>
    <li>Created a <a href="https://kmdono02.github.io/Data_Analysis_with_R_IBIS/">handbook</a> on statistical concepts and R programming</li>
  </ul> </p>
<p>For more information, please check out my <a href="/software/">developed statistical software</a>, 
<a href="https://bibbase.org/show?bib=https%3A%2F%2Fkmdono02.github.io%2FCV%2FCV.bib">publications</a>, 
  <a href="/CV/CV.pdf">CV</a></a>, and <a href="https://github.com/kmdono02">Github account</a>.</p>

        <ul style="width:10%; float:left;">
            <li>Spatio-Temporal Analysis</li>
            <li>Signal Processing</li>
            <li>Machine Learning</li>
            <li>Causal Inference</li>
        </ul>

          <dl style="width:10%; float:right;">
            <dt>PhD in Biostatistics: 2021 (Expected)</dt>
              <dd>UNC Chapel Hill</dd>
            <dt>BS in Mathematics, Economics: 2015</dt>
              <dd>Syracuse University</dd>
          </dl>
