---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "About" }}</h3>

I am a PhD student in Biostatistics at the University of North Carolina at Chapel Hill.  
I work on developing methods to conduct statistical inference on brain connectivity using independent components analysis.
<br/><br/>
Through my work at the <a href="www.cidd.unc.edu/">Carolina Institute of Developmental Disabilities</a>, I:<br/>
- Use machine learning to accurately predict future Autism Spectrum Disorder (ASD) diagnosis in infants based on behavioral and brain image data
- Conduct inference on associations between ASD, behavioral outcomes, and brain structure/activity
- Teach statistical concepts and programming with R
<br/><br/>

